<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>project</title>

    <!-- Bootstrap -->
    <link href="./../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../../assets/css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        
        <!-- header -->
        <div class="page-header">
            <h1>数据展示
                <small>分页展示</small>  
            </h1>
            <div class="row rm-marginRight">
                <div class="search col-lg-6">
                    <div class="input-group">
                        <input type="text" class="itemName form-control" placeholder="请输入项目名称">
                        <span class="input-group-btn">
                            <button class="searchBtn btn btn-default" type="button">搜索</button>
                        </span>
                    </div>
                    <div class="searchTips list-group">
                        <!-- <button type="button" class="list-group-item">Cras justo odiodsfsdfdsfdsfdsfdsfdsf</button>
                        <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                        <button type="button" class="list-group-item">Morbi leo risus</button>
                        <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                        <button type="button" class="list-group-item">Vestibulum at eros</button> -->
                    </div>
                </div>
                <button type="button" class="addBtn btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#add">添加</button>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- 表格部分 -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>项目</th>
                    <th>单位</th>
                    <th>更新频率</th>
                    <th>数据类型</th>
                    <th>行业</th>
                    <th>指标名称</th>
                    <th>code</th>
                    <th>区域</th>
                    <th>操作</th>
                </tr>
            </thead>
            <!-- 数据展示在这里 -->
            <tbody id="list"></tbody>
        </table>
        <!-- 分页部分 -->
        <div class="Page clear">
            <nav class="pull-right" aria-label="Page navigation">
                <ul class="pagination pull-left">
                    <li>
                        <a href="#" aria-label="Previous" class="homePage">
                        <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Previous" class="previous">
                            <span aria-hidden="true">上一页</span>
                            
                        </a>
                    </li>
                    <li><a href="#" class="current">当前页</a></li>
                    <li>
                        <a href="#" aria-label="Next" class="next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next" class="end">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
                <div class="right goto">
                    跳转到 <input class="gotoPage" type="text" value=""> 页
                    <input class="go" type="button" value="go">
                </div>
            </nav>
            <div class="pageShow right">
                <div>
                    当前页为<span class="isPage">  </span>页
                </div>
                <div>共<span class="allPage">  </span>页</div>
            </div>
        </div>
        <div class="loading"></div>
        <!-- 添加模态框 -->
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document" style="width:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">项目添加</h4>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:;" id="formAdd">
                            项目名称
                            <input name="itemName" class="form-control" placeholder="请输入项目名称" required="required" type="text" />                            项目单位
                            <input name="itemUnit" class="form-control" placeholder="请输入项目单位" type="text" />
                            <!-- 3更新频率 -->
                            <input id="frequency" name="frequency" class="form-control" type="hidden" value="" /> 请选择更新频率
                            <select class="form-control frequency">
                                    <option>日</option>
                                    <option>周</option>
                                    <option>旬</option>
                                    <option>月</option>
                                    <option>季</option>
                                    <option>年</option>
                                </select>
                            <!-- 4数据类型 -->
                            <input name="datatype" class="form-control datatype" type="hidden" /> 请选择数据类型
                            <select id="datatype" class="form-control"><!-- <option>假数据</option> --></select>
                            <input name="indusName" class="form-control industry" type="hidden" />
                            <!-- 5这里面是行业 -->
                            请选择所属行业
                            <select id="indusName" class="form-control"><!-- <option>假数据</option> --></select>
                            <!-- 6指标名称 -->
                            <input name="indexName" class="form-control indexName" type="hidden" /> 请选择指标名称
                            <select id="indexName" class="form-control"><!-- <option>假数据</option> --></select>
                            <!-- 7code -->
                            <input name="itemCode" class="form-control code" placeholder="请输入code" type="text" />
                            <!-- 8区域 -->
                            <input name="areaName" class="form-control area" type="hidden" />
                            <div class="outer">
                                <!-- 省（直辖市） -->
                                <select id="province"><option>请选择</option></select>
                                <!-- 市 -->
                                <select id="city"><option>请选择</option></select>
                                <!-- 县（区） -->
                                <select id="county"><option>请选择</option></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="save">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 编辑模态框 -->
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document" style="width:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">项目编辑</h4>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:;" id="formEdit">
                            <input name="itemId" id="itemId" type="hidden" /> 项目名称
                            <input name="itemName" class="form-control" placeholder="请输入项目名称" required="required" type="text" />                            项目单位
                            <input name="itemUnit" class="form-control" placeholder="请输入项目单位" type="text" />
                            <!-- 3更新频率 -->
                            <input id="edit_fre" name="frequency" class="form-control" type="hidden" value="" /> 请选择更新频率
                            <select class="form-control frequency">
                                        <option>日</option>
                                        <option>周</option>
                                        <option>旬</option>
                                        <option>月</option>
                                        <option>季</option>
                                        <option>年</option>
                                    </select>
                            <!-- 4数据类型 -->
                            <input name="datatype" class="form-control datatype" type="hidden" /> 请选择数据类型
                            <select id="edit_datatype" class="form-control"><!-- <option>假数据</option> --></select>
                            <input name="indusName" class="form-control industry" type="hidden" />
                            <!-- 5这里面是行业 -->
                            请选择所属行业
                            <select id="edit_indusName" class="form-control"><!-- <option>假数据</option> --></select>
                            <!-- 6指标名称 -->
                            <input name="indexName" class="form-control indexName" type="hidden" /> 请选择指标名称
                            <select id="edit_indexName" class="form-control"><!-- <option>假数据</option> --></select>
                            <!-- 7code -->
                            <input name="itemCode" class="form-control code" placeholder="请输入code" type="text" />
                            <!-- 8区域 -->
                            <input name="areaName" class="form-control area" type="hidden" />
                            <div class="outer">
                                <!-- 省（直辖市） -->
                                <select id="edit_province"><option>请选择</option></select>
                                <!-- 市 -->
                                <select id="edit_city"><option>请选择</option></select>
                                <!-- 县（区） -->
                                <select id="edit_county"><option>请选择</option></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="update">更新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 数据展示模板 -->
    <script id="data-list" type="text/html">
        {{each list}}
        <tr id="{{$value.itemId}}">
            <td>{{$value.itemName}}</td>
            <td>{{$value.itemUnit}}</td>
            <td>{{$value.frequency}}</td>
            <td>{{$value.datatype}}</td>
            <td>{{$value.indusName}}</td>
            <td>{{$value.indexName}}</td>
            <td>{{$value.itemCode}}</td>
            <td>{{$value.areaName}}</td>
            <td>
                <a href="javascript:;" editId="{{$value.itemId}}" class="showModal btn btn-info btn-xs">编 辑</a>
                <a href="javascript:;" class="delete btn btn-warning btn-xs">删 除</a>
            </td>
        </tr>
        {{/each}}
    </script>
    <!-- 添加数据模板(添加/编辑) -->
    <script id="type-list" type="text/html">
        {{each data_list item}}
        <option typeId="{{item.datatypeId}}">{{item.datatypeName}}</option>
        {{/each}}
    </script>
    <script id="indus-list" type="text/html">
        {{each indus_list item}}
        <option indusId="{{item.industryId}}">{{item.industryName}}</option>
        {{/each}}
    </script>
    <script id="index-list" type="text/html">
        {{each index_list item}}
        <option indexId="{{item.indexId}}">{{item.indexCode}}</option>
        {{/each}}
    </script>
    <script id="pro-list" type="text/html">
        {{each pro_list item}}
        <option proId="{{item.areaId}}">{{item.areaName}}</option>
        {{/each}}
    </script>
    <script id="city-list" type="text/html">
        {{each city_list item}}
        <option cityId="{{item.areaId}}">{{item.areaName}}</option>
        {{/each}}
    </script>
    <script id="county-list" type="text/html">
        {{each county_list item}}
        <option countyId="{{item.areaId}}">{{item.areaName}}</option>
        {{/each}}
    </script>
    <script id="search-tips" type="text/html">
        {{each list}}
        <button type="button" class="list-group-item" tipsId="{{$value.searchId}}">{{$value.searchName}}</button>
        {{/each}}
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./../../node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./../../node_modules/art-template/lib/template-web.js"></script>

    <!-- <script src="./js/jQueryProvinces/js/area.js"></script>  
    <script src="./js/jQueryProvinces/js/select.js"></script>   -->
    <script src="./../../assets/js/index/index.js"></script>
    <script src="./../../assets/js/unit.js"></script>
</body>

</html>